<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMessengerBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WcfConsoleService.ServiceMessenger" behaviorConfiguration="ServiceMessengerBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3370/"/>
          </baseAddresses>
        </host>
        <endpoint address="ServiceMessenger" binding="wsDualHttpBinding" contract="WcfServiceCore.DataContracts.ServiceContracts.IServiceContracts"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>