<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<wsDualHttpBinding>
				<binding name="ClientCallback" sendTimeout="00:05:00" clientBaseAddress="http://localhost:8009/" />
			</wsDualHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:3370/ServiceMessenger"
                binding="wsDualHttpBinding" 
                bindingConfiguration="ClientCallback"
                contract="WcfServiceCore.DataContracts.ServiceContracts.IServiceContracts" />
		</client>
	</system.serviceModel>
</configuration>