<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceContracts" sendTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3370/Service.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceContracts"
          contract="IServiceContracts" name="BasicHttpBinding_IServiceContracts" />
    </client>
  </system.serviceModel>
</configuration>